@import "./globals.scss";

.container {
  padding: 5% 5%;

  h3 {
    color: $colorSky;
    letter-spacing: 3px;
    margin-bottom: 10px;
  }
  h4 {
    text-align: center;
  }

  .p30 {
    color: white;
    letter-spacing: 5px;
    font-size: 30px;
    font-family: $fontRaleway;
    text-align: center;
    margin: 20px 0 85px 0;
  }

  .mt30 {
    margin-top: 30px;
  }

  .formWrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .signUpForm {
      position: absolute;
      top: -60px;
      left: 50%;
      width: 100%;
      transform: translate(-50%);
      box-shadow: 0px 15px 10px #000000ef;

      .imgWrapper {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;

        .contentWrapper {
          position: relative;
          float: right;
          padding: 50px 20px 20px 20px;
          z-index: 2;
          background-color: white;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          width: 100%;
        }

        .backImg {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: 0.64;
        }
      }
    }

    .imgBG {
      width: 520px;
      height: 440px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.45;

      &.left {
        background-image: url("/assets/imgs/formBG2.png");
      }

      &.right {
        background-image: url("/assets/imgs/formBG3.png");
      }
    }
  }

  .aroundAlign {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.mobView {
  display: none;
}

@include media-breakpoint-down(lg) {
  .container {
    margin-top: 60px;

    h1 {
      font-size: 24px;
    }

    .p30 {
      font-size: 20px;
    }
  }

  .imgWrapper {
    height: calc(100vh - 220px) !important;
    overflow: auto !important;
  }

  .signUpForm {
    width: 120% !important;
  }

  .backImg {
    display: none;
  }
  .imgBG {
    &.left {
      display: none;
    }

    &.right {
      display: none;
    }
  }
}

.inputwidth {
  width: 70%;
  height: 30px;
  padding: 10px 10px;
  border: none;
  border-bottom: 2px solid black;
  color: black;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1.3px;
}
.inputrowpadding {
  padding: 2%;
}
.inputrowpaddings {
  padding-left: 10%;
  padding-left: 10%;
}
.VisibilityIconview {
  margin-left: -30px;
}
.labelstyle {
  color: #141414;
  font-size: 1.1em;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  font-weight: 500;
}
.socialIcon {
  height: 30px;
}
.iconstyle {
  height: 40px;
  width: 40px;
  float: right;
}
.labelsocials {
  color: #141414;
  font-size: 1.1em;
  font-weight: 500;
}
.signupbtn {
  background-color: #308ab4;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: -20px;
  padding: 10%;
  font-size: 1.3em;
  width: 100%;
}
.btncenter {
  margin: auto;
  //text-align: end;
}
.btncentermobview {
  justify-content: flex-end;
  flex-direction: column;
  margin-left: 50%;
  margin-right: -30px;
  margin-top: 60%;
  margin-bottom: 60%;
}
.ownbtncentermobview {
  justify-content: flex-end;
  flex-direction: column;
  margin-left: 50%;
  margin-right: -30px;
  margin-top: 60%;
  margin-bottom: 55%;
}
.ownerbtncentermobview {
  justify-content: flex-end;
  flex-direction: column;
  margin-left: 25%;
  margin-right: -30px;
}
.btnendweb {
  text-align: end;
  padding-left: 30%;
}
//btn design on click change
.btnbgnone {
  background: none !important;
  color: white !important;
  border: none;
}
.btnbgcolor {
  background-color: white !important;
  color: black !important;
  border: none;
  border-radius: 20px 0px 0px 20px;
}
//border-radius: 20px 0px 0px 20px;
//btn design on click change

@media only screen and (max-width: 600px) {
  .container {
    padding: 15% 5% !important;
  }
  .btnbgcolor {
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px 20px 0px 0px;
  }
  .btncentermobview {
    justify-content: center;
    flex-direction: row;
    margin-left: 0%;
    margin-right: 0px;
  }
  .btnendweb {
    text-align: center;
    padding-left: 0%;
  }
  .signupbtn {
    //background-color: #308ab4;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 0px;
    padding: 2%;
    font-size: 1.3em;
    width: auto;
  }
  .inputrowpadding {
    padding: 5%;
  }
  .signinbtninputrowpadding {
    padding: 8% !important;
  }
  .signupiconcenter {
    display: block !important;
    text-align: center;
  }
  .btncentermobview,
  .ownerbtncentermobview,
  .socialIcon,
  .labelsocials,
  .iconstyle,
  .p30,
  .ownbtncentermobview,
  .ownerbtncentermobview {
    display: none;
  }
  .btnstripe{
    text-align: center;
  }
  .imgWrapper {
    padding: 10%;
    position: relative;
    overflow: hidden;
    width: auto !important;
  }
  .inputwidth,
  .logininputwidth {
    width: 89% !important;
  }
  .contentWrapper {
    position: relative;
    float: right;
    padding: 50px 20px 20px 20px;
    z-index: 2;
    background-color: white;
    border-radius: 20px;
    width: 100%;
  }
  .signUpForm {
    top: 0px !important;
  }
}

.signupiconcenter {
  display: none;
}

// login styles
.googlebtn {
  background: no-repeat;
  color: gray;
  border: 1px solid;
  padding: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border: none;
}
.loginiconstyle {
  width: 60px;
  height: 60px;
}
.loginiconcenter {
  text-align: center;
}
.logininputwidth {
  width: 90%;
  font-family: $fontAvenir;
  height: 30px;
  padding: 10px 10px;
  border: none;
  border-bottom: 2px solid black;
  color: black;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1.3px;
}

.signinbtn {
  background-color: #308ab4;
  text-transform: uppercase;
  font-weight: 500;
  padding: 2%;
  float: right;
  margin-right: 5%;
}
.signupcolor {
  background-color: #308ab4;
  font-size: 1.3em;
}
.signinbtninputrowpadding {
  padding: 5%;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
}

.btn-primary:hover {
  color: black !important;
  background-color: white !important;
  border-color: white !important;
}

input[type="button"] {
  outline: none;
}
input[type="button"]::-moz-focus-inner {
  border: 0;
}
